.box-shadow {
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
}

.logo{
    width: 300px;
    margin: 0 auto;
    display: block;
    cursor: pointer;
    user-select: none;
}

.link{
    color: #2196f3;
    text-decoration: none;
    font-weight: 700;
    user-select: none;
    cursor: pointer;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    margin-bottom: 40px;
    margin-top: 40px;

    &:hover{
        color: #1565c0;
    }
}
